
@model WebBanHang.Context.User
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row justify-content-md-center">
<div class="col-md-4">
    <div class="card">
        <div class="card-header">
            ĐĂNG NHẬP
        </div>
        <div class="card-body">
            @using (Html.BeginForm("Login", "Home", FormMethod.Post))
            {
@Html.AntiForgeryToken()

                <div class="form-group">
                    <a href="https://www.facebook.com/" class="btn btn-facebook btn-block mb-2"> <i class="fab fa-facebook-f"></i> &nbsp  Đăng Nhập Bằng  Facebook</a>
                    <a href="https://accounts.google.com/AccountChooser/signinchooser?service=mail&continue=https%3A%2F%2Fmail.google.com%2Fmail%2F&flowName=GlifWebSignIn&flowEntry=AccountChooser" class="btn btn-google btn-block mb-4"> <i class="fab fa-google"></i> &nbsp Đăng Nhập Bằng Google</a>
                    @Html.LabelFor(m => m.Email)
                    @Html.TextBoxFor(m => m.Email, "", new { @class = "form-control", @placeholder = "Email" })

                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Password)
                                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password" })
                                </div>
                                                <div class="form-group">
                                                    <a href="#" class="float-right">Quên Mật Khẩu</a>
                                                    <label class="float-left custom-control custom-checkbox"> <input type="checkbox" class="custom-control-input" checked=""> <div class="custom-control-label"> Nhớ Mật Khẩu </div> </label>
                                                </div>
                                                                <div class="form-group">
                                                                    <input type="submit" name="submit" class="btn btn-primary" value="Đăng Nhập" />
                                                                </div>}
        </div>
    </div>
</div>
</div>
